<DOCTYPE html!>
    <head>
        <title>Linda's To-Do List App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "Stylesheet" href = "todo.css">
     </head>

    <body>
        <div id = "todo">
            <h1>TO-DO LIST</h1>
            <input type = "text" placeholder="Add New Todo">
            <ul class="todos">
                <li>Go to the salon</li>
            </ul>
        </div>
        <script src="todo.js"></script>
    </body>